
*,
*:before,
*:after{
    text-align: center;

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #8ccee7;
}

header {
    background-image: url("https://images.unsplash.com/photo-1592356986971-68c56631013f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80");
    opacity: 85%;
    stroke-opacity: 10%;

}

h1 {
    font-size: 10vw;
    text-align: center;
    color: #b10429  ;
    font-weight: bold;
    font-style: oblique;
transform: rotate(0deg);
 text-shadow: 0px 0px 7px #eff5f5,1px 0px 15px #f7f3f3;

}
header {
    background-color: aliceblue;
}
header:hover {
    background-color: black;
    cursor: pointer;
    text-transform: uppercase;
    transform: scale(1.5);
    font-weight: bold;
}
footer {
    font-style: oblique;
transform: rotate(0deg);
text-shadow: 0px 0px 3px #eff5f5,1px 0px 5px #f7f3f3;
    background-image: url("https://images.unsplash.com/photo-1592356986971-68c56631013f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80");

}
footer:hover {
    background-color: black;
    cursor: pointer;
    text-transform: uppercase;
    transform: scale(1.5);
    font-weight: bold;
    
}

h3 {
    font-size: 4vw;
    font-weight: bold;
    text-align: center;
    color: whitesmoke  ;
    font-weight: bold;
    font-style: oblique;
transform: rotate(0deg);
 text-shadow: 0px 0px 7px #0a0a0a,1px 0px 15px #0a0a0a;

}
 .container {
    border: #f0f8ff solid 1vw;
    background-image: url("https://images.unsplash.com/photo-1531397804924-41febe83d60f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80");
    border-radius: 25vw;
    padding: 1vw;
    margin: 1vw;
    opacity: 90%;

}
p , h2 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    padding-block-end: 1cap;
    word-break:break-all;
    color: white;
        font-weight: bold;

}

button {

    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
     word-break:break-all;
     color:#f0f8ff ;
     margin: 1vw;
     cursor: pointer;
     padding: 1vw;
     border-radius: 1vw;
    background: #b10429;
    font-style: initial;
    box-shadow:0px 0px 10px #fff,0px 0px 20px  black;

}

button:hover {
    background-color: black;
    cursor: pointer;
    text-transform: uppercase;
    transform: scale(1.5);
    font-weight: bold;
}

.digit {
    font-size: 150px;
    color: #fff;
}
 
.txt {
    font-size: 30px;
    color: #fffcd6;
}
 